
<div class="container" id="header">
  <h1 id=company_name>Epic-coffee</h1>

  <%= link_to "See List of Current Coffee Blends", products_path() %>
  <br>
</div>


<div class="container">
  <h3>Recently added Coffee Blends</h3>
  <ul>
    <% @products.three_most_recent.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>

    <% end %>
  </ul>
</div>

<div class="container">
  <h3>Coffee Blends with the most reviews</h3>
  <ul>
    <% @products.most_reviews.each do |product| %>
    <li><%= link_to product.name, product_path(product) %></li>

    <% end %>
  </ul>
</div>
