
<div class="container" id="header">
  <h1 id=company_name>Epic-Coffee</h1>
  <p>400 SW 6th Ave</p>
  <p>Portland, OR 97204</p>
  <hr>
  <h3><%= link_to "See List of Current Coffee Blends", products_path() %></h3>
  <br>
</div>


<div id="landing-page" class="container">
  <h3>Recently added Coffee Blends</h3>
  <ul>
    <% @products.three_most_recent.each do |product| %>
    <h4><li style="list-style:none;"><%= link_to product.name, product_path(product) %></h4></li>

    <% end %>
  </ul>

  <h3>Coffee Blends with the most reviews</h3>
  <ul>
    <% @products.most_reviews.each do |product| %>
    <h4><li style="list-style:none;"><%= link_to product.name, product_path(product) %></h4></li>

    <% end %>
  </ul>

  <h3>Coffee Blends made in the USA</h3>
  <ul>
    <% @products.made_in_usa.each do |product| %>
    <h4><li style="list-style:none;"><%= link_to product.country_of_origin, product_path(product) %></h4></li>

    <% end %>
  </ul>
</div>
