@import "bootstrap";


body {
  background-image: url("https://images.unsplash.com/photo-1497515114629-f71d768fd07c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aecef56b3e4ba7eaf1fb54e50f0383ab&auto=format&fit=crop&w=1362&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  color: grey;
}

#landing-page {
  text-align: right;
  margin-top: 100px;
  color: white;
}

li {
  text-decoration: none;
}

button {
  border-radius: 3px;
  color: grey;
  background-color: rgba(0,0,0,0.2);
}

.card {
  margin-bottom: 10px;
  background-color: rgba(0,0,0,0.3);
}

hr {
  background-color: white;
}
