<div class="container">
  <h1>Coffee Blends</h1>
  <br>
  <nav>
  <button type="button"><%= link_to "Home", root_path %></button>
  <button type="button"><%= link_to "Add a New Blend", new_product_path %></button>
  </nav>
  <hr>
</div>


<div class="container">
  <h3>Coffee Blend and Country of Origin</h3>
  <ol>
    <% @products.each do |product| %>
    <li><%= link_to product.name, product_path(product) %>, <%= product.country_of_origin %></li>

    <% end %>
  </ol>
</div>
